
body {
    background-color: #797687;
}

.container {
    text-align: center;
    background-color: #35b484;
    height: 500px;
    padding: 50px 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
}

h2 {
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#scoreContainer {
    text-align: center;
}

#playerScore {
    color: white;
}

#btnStart{
    color: white;
    background-color:#005073;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

#btnStart:hover{
    background-color: #797687;
}

#results {
    margin: 20px 0;
    text-transform: uppercase;
}

#playerImage {
    float: left;
    padding-left: 50px;
}

#firstImage {
    width: 200px;
    height: 200px;
    display: none;
}

#compImage {
    float: right;
    padding-right: 50px;
}

#secondImage {
    display: none;
    width: 200px;
    height: 200px;
}

#playerLabel{
    display: none;
}

#compLabel {
    display: none;
}
